@tailwind base;
@tailwind components;
@tailwind utilities;


.serifado {
    font-family: "Roboto Serif", serif;
}


.sombra{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
}



.roboto{
    font-family: "Roboto", Arial;
}

.sombra-xy {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }

.detalhe li:not(:last-child){
    width: 100%;
    border-right: 1px solid #CFCFCF;
}

